packages/twenty-server/sessionIds.json
packages/twenty-server/token-full.json
packages/twenty-server/.attachments/token-full.json
**/**/sessionIds.json
**/**/.env
.DS_Store
packages/twenty-server/google-drive-data/*
/.idea
**/**/node_modules/
.cache
packages/twenty-server/auth_info_baileys/*
# yarn is the recommended package manager across the project
**/**/.package-lock.json
packages/twenty-server/FileUploads/*
.nx/installation
.nx/cache
.env
.env.local
dump.sql
migrate_remote_tables.sh
person_schema.sql
*.sql
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.vercel

**/**/logs/**

coverage
dist
storybook-static
*.tsbuildinfo
.eslintcache
.cache
.nyc_output
**/**/*.pdf
.vscode/
**/**/token.json
**/**/credentials.json

packages/twenty-server/.attachments/*
packages/twenty-server/.voice-messages/*
packages/twenty-server/auth_info_baileys/*
packages/twenty-server/uploads/*
packages/twenty-server/baileys_store_multi.json
packages/twenty-server/baileys_auth_info/*
packages/twenty-server/uploads/*

.env*
*.log
node_modules/
